.btn{
  display: inline-block;
  text-align: center;
  font-size: $fontI;
  color: $colorG;
  border: none;
  cursor: pointer;
  background-color: $colorA;
}
.btn-gray{
  background-color: #B0B0B0;
}
.btn-margin{
  margin-right: 21px;
  &:last-child{
    margin-right: 0;
  }
}
.btn-buy{
  width: 110px;
  line-height: 30px;
}
.btn-pay{
  width: 130px;
  line-height: 35px;
}
.btn-like{
  width: 142px;
  height: 54px;
}
.btn-default{
  width: 160px;
  line-height: 40px;
}
.btn-success{
  width: 200px;
  line-height: 54px;
}
.btn-account{
  width: 202px;
  line-height: 50px;
}
.btn-join{
  width: 300px;
  line-height: 54px;
}
.btn-request{
  width: 332px;
  line-height: 42px;
}
.btn-login{
  width: 348px;
  line-height: 50px;
}